---
import '../styles/landing.styles.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from "../components/landing/hero";
import Benefits from "../components/landing/benefits";
import Magazines from "../components/landing/magazines";
import Faq from "../components/landing/faq";
import SubscribeToNewsLetters from "../components/landing/SubscribeToNewsLetters.astro";
import LastPosts from "../components/LastPosts.astro";
const pageTitle = "Triplay Travel Planner: Smart & Playful Trips!";
const description = 'Discover Triplay Travel Planner, your personal travel assistant powered by AI. Plan the perfect vacation, explore new destinations. Get started now!';
const keywords = 'Triplay, travel planner, ai trip planner, trip planner, ai journey planner, trip planner ai, itinerary planner';
const twitter = {
	card: 'summary',
	title: 'Playful travel planner:balloon:Just open Triplay and create your best trip ever!:zap:',
	site: '@MyTriplay',
	images: [
		{
			url: 'https://triplay.ai/triplay-logo.svg',
			alt: 'Triplay Logo'
		}
	]
};
const openGraph = {
	basic: {
		title: "Triplay Travel Planner: Smart & Playful Trips!",
		type: "website",
		image: "https://triplay.ai/triplay-logo.svg",
	}
};
---
<BaseLayout
	pageTitle={pageTitle}
	description={description}
	keywords={keywords}
	openGraph={openGraph}
	twitter={twitter}
>
	<div class="landing-grid">
		<Hero />

		<section id='subtitle'>
			<div class='section-title'>
				<h2>Why is it better to travel with a Triplay travel planner?</h2>
			</div>
		</section>

		<Benefits />
		<Magazines />
		<SubscribeToNewsLetters />
		<LastPosts />
		<Faq client:idle />
	</div>
</BaseLayout>
