---
import '../styles/static-pages.styles.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Terms and Conditions | Triplay.ai";
const description = 'Unlock hassle-free adventures with us! Navigate website usage, license terms, and custom trips smoothly with our clear Terms and Conditions.';
const keywords = 'Terms and Conditions, website usage, license terms, use restrictions, custom trips, intellectual property, limitation of liability, governing law, acceptance of terms';
const openGraph = {
	basic: {
		title: "Terms and Conditions | Triplay.ai",
		description: 'Unlock hassle-free adventures with us! Navigate website usage, license terms, and custom trips smoothly with our clear Terms and Conditions.',
		type: "website",
		image: "https://triplay.ai/triplay-logo.svg",
		url: 'https://triplay.ai/terms',
	}
};
---
<BaseLayout
	pageTitle={pageTitle}
	metaTitle={pageTitle}
	description={description}
	metaDescription={description}
	keywords={keywords}
	openGraph={openGraph}
>
	<main class='static-page'>
		<div class='container static-content__container'>
			<h1>Terms of Use for Triplay</h1>
			<div class='static-content'>
				<p><strong>Effective Date:</strong> <span>November 27, 2023</span></p>
				<section>
					<h2>1. Acceptance of Terms</h2>
					<p>Welcome to Triplay
						(&quot;Triplay&quot;, &quot;Website&quot;, &quot;Service&quot;, &quot;we&quot;, &quot;us&quot; or &quot;our&quot;).
						These Terms of Use govern your use of our website and the services we provide. By accessing and using our
						website, you agree to be bound by these terms. If you do not agree with any part of these terms, please
						refrain from using our website and services. Terms apply to all users who wish to access or use
						product</p>
					<p>Our Privacy Policy also governs your use of our Website and explains how we collect, safeguard and
						disclose information that results from your use of our web pages. Please read it here at <a
							href='https://triplay.ai/privacy'>https://triplay.ai/privacy</a>.</p>
					<p>Your agreement with us includes these Terms of Use and our Privacy Policy (&quot;Agreements&quot;). You
						acknowledge that you have read and understood Agreements, and agree to be bound of them.</p>
					<p>If you do not agree with (or cannot comply with) Agreements, then you may not use the Website, but please
						let us know by emailing at <a href='mailto:support@triplay.ai'>support@triplay.ai</a> so we can try to
						find a solution. These Terms apply to all visitors, users and others who wish to access or use Website.
					</p>
				</section>
				<section>
					<h2>2. Use of the Website</h2>
					<p>You agree to use the Website only for purposes permitted by these Terms and Conditions and any applicable
						law, regulation, or generally accepted practices or guidelines in the relevant jurisdictions. You agree
						not to access (or attempt to access) the Website by any means other than through the interface provided by
						us.</p>
				</section>
				<section>
					<h2>3. Communications</h2>
					<p>By creating an Account on our Website, you agree to subscribe to newsletters, marketing or promotional
						materials and other information we may send. However, you may opt out of receiving any, or all, of these
						communications from us by following the unsubscribe link or by emailing at <a
							href='mailto:support@triplay.ai'>support@triplay.ai</a>.</p>
				</section>
				<section>
					<h2>4. Purchases</h2>
					<p>If you wish to purchase any product or service made available through Website (&quot;Purchase&quot;), you
						may be asked to supply certain information relevant to your Purchase including, without limitation, your
						credit card number, the expiration date of your credit card, your billing address, and your shipping
						information.</p>
					<p>You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment
						method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct
						and complete.</p>
					<p>We may employ the use of third party services for the purpose of facilitating payment and the completion
						of Purchases. By submitting your information, you grant us the right to provide the information to these
						third parties subject to our Privacy Policy.</p>
					<p>We reserve the right to refuse or cancel your order at any time for reasons including but not limited to:
						product or website availability, errors in the description or price of the product or website, error in
						your order or other reasons.</p>
					<p>We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is
						suspected.</p>
				</section>
				<section>
					<h2>5. Subscriptions</h2>
					<p>Some parts of Website are billed on a subscription basis. You will be billed in advance on a regular
						monthly basis.</p>
					<p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same
						conditions unless you cancel it or Vallex GMBH cancels it. You may cancel your Subscription renewal either
						through your online account management page or by contacting Vallex GMBH customer support team.</p>
					<p>A valid payment method, including credit card, is required to process the payment for your subscription.
						You shall provide Vallex GMBH with accurate and complete billing information including full name, address,
						state, zip code, telephone number, and a valid payment method information. By submitting such payment
						information, you automatically authorize Vallex GMBH to charge all Subscription fees incurred through your
						account to any such payment instruments.</p>
					<p>Should automatic billing fail to occur for any reason, Vallex GMBH will issue an electronic invoice
						indicating that you must proceed manually, within a certain deadline date, with the full payment
						corresponding to the billing period as indicated on the invoice.</p>
				</section>
				<section>
					<h2>6. Fee Changes</h2>
					<p>Vallex GMBH, in its sole discretion and at any time, may modify Subscription fees for the Subscriptions.
						Any change to the subscription price will take effect at the end of the current month.</p>
					<p>Vallex GMBH will provide you with a reasonable prior notice of any change in Subscription fees to give
						you an opportunity to terminate your Subscription before such change becomes effective.</p>
					<p>Your continued use of Website after Subscription fee change comes into effect constitutes your agreement
						to pay the modified Subscription fee amount.</p>
				</section>
				<section>
					<h2>7. Basic License Terms</h2>
					<p>Basic license users can create a limited number of trips per month. Each custom trip can be up to two
						days long, with limitations in trip preferences. Users can add a limited number of locations on the trip
						details screen, either from autocomplete input or directly from the map view. Basic license users can also
						generate a limited number of visualizations of the trip per account. Other product features, such as the
						route optimization engine, modifications of existing locations, and the use of a list of alternative
						locations, will always be free of charge.</p>
				</section>
				<section>
					<h2>8. Use Restrictions</h2>
					<p>Users are expected to use the Website within the limits and guidelines outlined in these Terms and
						Conditions.</p>
					<p>For Premium License users, while we provide terms such
						as &quot;unrestricted&quot; and &quot;unlimited&quot;, these are subject to reasonable use restrictions.
						In practice, users are expected not to build and consume more than 5-7 trips monthly with respective
						number of locations and route visualisations. This limit is designed to prevent misuse and ensure fair
						access for all users. Any excessive use beyond these reasonable limits could be deemed as misuse and might
						result in temporary or permanent suspension of your access to the Website.</p>
					<p>Travel agencies and any other commercial entities are not permitted to use the Website under a standard
						license. Commercial use of the Website requires a separate agreement and is subject to different terms and
						conditions. Any unauthorized commercial use of the Website will result in immediate termination of this
						agreement and potential legal action.</p>
					<p>We reserve the right to review and monitor user activities on the Triplay without providing you prior
						notice. Users who repeatedly violate these use restrictions may be permanently banned. If your access to
						the Website has been suspended and you would like to request a review, please contact our support team. We
						consolidate our stance on this matter and urge all users to use our Website responsibly and within the
						defined parameters.</p>
				</section>
				<section>
					<h2>9. Custom Trips and Services</h2>
					<p>Our Website provides you with the tools to create custom trips with various features. You understand that
						the actual visits to the locations, transport, and other practicalities of the trip are entirely your
						responsibility. Our Website only assists with the planning aspect.</p>
				</section>
				<section>
					<h2>10. Intellectual Property</h2>
					<p>All content included on the Website, such as text, graphics, logos, button icons, images, is our property
						or the property of our licensors and protected by international copyright laws. You agree to not copy,
						distribute, display, disseminate, or otherwise reproduce any of the information on the Website without
						receiving our prior written permission.</p>
				</section>
				<section>
					<h2>11. Disclaimer</h2>
					<p>All the materials on Vallex GmbH&apos;s website are provided &quot;as is&quot;. Vallex GmbH makes no
						warranties, whether expressed or implied, and therefore negates all other warranties. Furthermore, Vallex
						GmbH does not make any representations regarding the accuracy or reliability of the use of the materials
						on its website or any other matters related to such materials or any sites linked to this website.</p>
				</section>
				<section>
					<h2>12. Limitation of Liability</h2>
					<p>We will not be liable for any direct, indirect, incidental, special, consequential or exemplary damages,
						including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses
						(even if we have been advised of the possibility of such damages), resulting from the use of or the
						inability to use the Website.</p>
				</section>
				<section>
					<h2>13. Governing Law</h2>
					<p>These Terms and Conditions, along with any separate agreements through which we provide services to you,
						shall be governed by and interpreted in accordance with the laws of Switzerland. Any disputes relating to
						these terms and conditions will be subject to the exclusive jurisdiction of the courts of Switzerland.</p>
				</section>
				<section>
					<h2>14. Links To Other WebSites</h2>
					<p>Our Website may contain links to third party web sites or services that are not owned or controlled by
						Vallex GMBH.</p>
					<p>Vallex GMBH has no control over, and assumes no responsibility for the content, privacy policies, or
						practices of any third party web sites or services. We do not warrant the offerings of any of these
						entities/individuals or their websites.</p>
					<p>YOU ACKNOWLEDGE AND AGREE THAT Vallex GMBH SHALL NOT BE RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY,
						FOR ANY DAMAGE OR LOSS CAUSED OR ALLEGED TO BE CAUSED BY OR IN CONNECTION WITH USE OF OR RELIANCE ON ANY
						SUCH CONTENT, GOODS OR SERVICES AVAILABLE ON OR THROUGH ANY SUCH THIRD PARTY WEB SITES OR SERVICES.</p>
					<p>WE STRONGLY ADVISE YOU TO READ THE TERMS OF SERVICE AND PRIVACY POLICIES OF ANY THIRD PARTY WEB SITES OR
						SERVICES THAT YOU VISIT.</p>
				</section>
				<section>
					<h2>15. Entire Agreement</h2>
					<p>By using our Website, you are agreeing to these Terms of Use. If you do not agree to these terms, please
						do not use our Website. Your continued use of the Website will signify your acceptance of these terms and
						any changes to them made in the future.</p>
				</section>
				<p>If you have any questions or concerns about these Terms and Conditions, please contact us at <a
					href='mailto:support@triplay.ai'>support@triplay.ai</a>.</p>
				<p>Thank you for using Triplay. Happy travels!</p>
			</div>
		</div>
	</main>
</BaseLayout>
